<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ELearning"
        tools:targetApi="31">
        <activity
            android:name=".ui.student.StudentChatCourse"
            android:exported="false" />
        <activity
            android:name=".ui.student.MaterialForStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.SolveQuizActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.CourseQuizFroStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.StudentGradesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.StudentControlActivity"
            android:exported="false" />
        <activity
            android:name=".ui.doctor.GradesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.doctor.UploadMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".ui.doctor.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".ui.doctor.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.doctor.DoctorControlPage"
            android:exported="false" />
        <activity
            android:name=".ui.doctor.CreateCourse"
            android:exported="false" />
        <activity
            android:name=".ui.doctor.DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.student.StudentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.get_start.GetStartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signup.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash_screen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />
    </application>

</manifest>